/*
Theme Name: Ajax + Wordpress
*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container {
    width: 1024px;
    margin: 0 auto;
    border: 1px solid #efefef;
    padding: 20px;
}
    .page-title {
        text-align: center;
        border-bottom: 1px solid #efefef;
        padding-bottom: 10px;
    }

#content {

}
.logo_unice{
	width:25%; 
	height:25%; 
}
	}